<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <aside id="intrude-box" class="mask">
        <div id="intrude-cnt">
            <!-- 头像 -->
            <div id="head-portrait">
                <img src="img/1.png" alt="Chandler">
            </div>
            <!-- 昵称 -->
            <h1 id="author" title="web前端工程师博客">Chandler</h1>
            <!-- 介绍 -->
            <h2 id="intrude-text" title="web前端工程师博客">hello，欢迎光临我的博客~</h2>
            <!-- 导航 -->
            <nav id="nav-menu">
                <ul>
                    <li>
                        <a href="#" class="nav-outer">
                            <span class="nav-inner">
                                <i class="fa fa-home"></i>
                                <span class="nav-text">博客</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-outer">
                            <span class="nav-inner">
                                <i class="fa fa-book"></i>
                                <span class="nav-text">简历</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-outer">
                            <span class="nav-inner">
                                <i class="fa fa-photo"></i>
                                <span class="nav-text">相册</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-outer">
                            <span class="nav-inner">
                                <i class="fa fa-smile-o"></i>
                                <span class="nav-text">心情</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- 联系方式 -->
            <div id="contact-box">
                <i class="fa fa-wechat"></i>
                <i class="fa fa-qq"></i>
                <i class="fa fa-phone"></i>
            </div>
        </div>
    </aside>
    <!-- 文章主页 -->
    <section id="article-box">
        <div id="article-list">

            <article class="article-item">
                <time class="art-time">
                    2018-08-25
                    <i>&nbsp;</i>
                </time>
                <b class="art-dotts"></b>
                <a href="#" class="art-main">
                    <div class="art-wrap clear">
                        <div class="art-info">
                            <header class="art-title">前后端分离使用 Token 登录解决方案</header>
                            <p class="art-note">这篇文章写一下前后端分离下的登录解决方案，目前大多数都采用请求头携带 Token 的形式这篇文章写一下前后端分离下的登录解决方案，目前大多数都采用请求头携带 Token 的形式这篇文章写一下前后端分离下的登录解决方案，目前大多数都采用请求头携带 Token 的形式</p>
                        </div>
                        <div class="art-img">
                            <img src="img/1.jpg" alt="图片">
                        </div>
                    </div>
                </a>
            </article>

            <article class="article-item">
                <time class="art-time">
                    2018-08-25
                    <i>&nbsp;</i>
                </time>
                <b class="art-dotts"></b>
                <a href="#" class="art-main">
                    <div class="art-wrap clear">
                        <div class="art-info">
                            <header class="art-title">纯css实现盒子 3D 旋转效果</header>
                            <p class="art-note">平时看到动画下意识就觉得很难，出于畏惧心理老是不敢去碰，就像看到一个漂亮女生不敢上去搭讪(。。)。 拔过嘛，再难得东西都是禁不住你死缠烂打的（追姑娘同理 哈哈哈。。）所以现在就从头理理，这个3d效果究竟是怎么实现的。</p>
                        </div>
                        <div class="art-img">
                            <img src="img/2.jpg" alt="图片">
                        </div>
                    </div>
                </a>
            </article>

        </div>
    </section>
    <!-- 雪花 -->
    <div id="canvas-box">
        <canvas id="canvasBg"></canvas>
    </div>
    <script src="js/main.js"></script>
</body>
</html>