<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/logo.icon" type="image/x-icon">
    <link rel="stylesheet" href="css/reset.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <aside id="intrude-box" class="mask">
        <div id="intrude-cnt">
            <!-- 头像 -->
            <div id="head-portrait" class="mask">
                <img src="img/1.png" alt="chandler">
            </div>
            <!-- 昵称 -->
            <h1 id="author" title="web前端工程师博客">chandler</h1>
            <!-- 介绍 -->
            <h2 id="intrude-text" title="web前端工程师博客">hello，欢迎光临我的博客~</h2>
            <!-- 导航 -->
            <nav id="nav-menu">
                <ul>
                    <li>
                        <a href="#" class="nav-outer act">
                            <span class="nav-inner">
                                <i class="fa fa-home"></i>
                                <span class="nav-text">博客</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-outer">
                            <span class="nav-inner">
                                <i class="fa fa-book"></i>
                                <span class="nav-text">简历</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-outer">
                            <span class="nav-inner">
                                <i class="fa fa-photo"></i>
                                <span class="nav-text">相册</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-outer">
                            <span class="nav-inner">
                                <i class="fa fa-smile-o"></i>
                                <span class="nav-text">心情</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- 联系方式 -->
            <div id="contact-box">
                <i class="fa fa-wechat"></i>
                <i class="fa fa-qq"></i>
                <i class="fa fa-phone"></i>
            </div>
        </div>
    </aside>
    <!-- 文章主页 -->
    <section id="article-box">
        <div id="article-list">
            <article class="article-item">
                <time class="art-time">
                    2018-08-25
                </time>
                <b class="art-dotts"></b>
                <div href="#" class="art-main">
                    <a href="http://www.baidu.cn" class="art-wrap">
                        <div class="art-info">
                            <h2 class="art-title">这是博客的标题</h2>
                            <h3 class="art-note" title="这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点">
                                <span>这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点这是简介站位文字要长一点</span>
                            </h3>
                        </div>
                        <div class="art-img">
                            <img src="img/1.jpg" alt="图片">
                        </div>
                    </a>
                    <div class="art-meta">
                        <a href="#" class="art-heart" title="i lile it">
                            <i class="heart"></i>
                            <span>喜欢(500)</span>
                        </a>
                        <a href="#" class="art-comment" title="评论">
                            <i class="comment-icon fa fa-comment"></i>
                            <span>评论(20)</span>
                        </a>
                        <a href="#" class="art-tag" title="博客标签">
                            <i class="fa fa-tag"></i>
                            <span>javascript</span>
                        </a>    
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- 雪花 -->
    <div id="canvas-box">
        <canvas id="canvasBg"></canvas>
    </div>
    <script src="js/main.js"></script>
</body>
</html>