<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <span>{{name}}</span>
    <button id="register">注册</button>
    <button id="login">登录</button>
    <script>
        $('#register').click(function() {
            $.ajax({
                // beforeSend: function(request) { 
                //     request.setRequestHeader('Authorization', window.localStorage.getItem('token')); 
                // },
                url: '/register',
                type: 'post',
                data: {
                    username: 'chandler',
                    password: '597649635.cdjiii'
                }
            })
            .done(function(data) {
                console.log(data);
                window.localStorage.setItem('token', data.token);
            })
        });
        $("#login").click(function() {
            $.ajax({
                // beforeSend: function(request) { 
                //     request.setRequestHeader('Authorization', window.localStorage.getItem('token')); 
                // },
                url: '/login',
                type: 'post',
                data: {
                    username: 'chandler',
                    password: '597649635.cdjiii'
                }
            })
            .done(function(data) {
                console.log(data);
            })
        });
    </script>
    <!-- <body>
    <h1>{{title}}</h1>
    <p>循环：</p>
    <ul>
        {% for key,value in food %}
        <li>{{key}} -  {{value}}</li>
        {%endfor%}
    </ul>
    </body> -->
</body>
</html>