/* line 3, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\000033}}
.mask:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #303030;
  opacity: .1;
  pointer-events: none;
}
/* line 14, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\0000314}}
#canvas-box {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}
/* 侧边栏 */
/* line 24, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\0000324}}
#intrude-box {
  display: table;
  float: left;
  position: relative;
  width: 300px;
  height: 100%;
  background: url(/img/bg1.png);
  color: #ffffff;
  background-size: cover;
}
/* line 36, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\0000336}}
#intrude-cnt {
  display: table-cell;
  position: relative;
  z-index: 2;
  vertical-align: middle;
  text-align: center;
  padding: 1rem 0;
}
/* 头像 */
/* line 45, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\0000345}}
#head-portrait {
  /* text-align: center; */
}
/* line 48, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\0000348}}
#head-portrait img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}
/* line 53, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\0000353}}
#author {
  font-size: 3rem;
  margin: 2rem 0;
}
/* line 57, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\0000357}}
#intrude-text {
  font-size: 1.8rem;
  letter-spacing: 1px;
}
/* 导航 */
/* line 62, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\0000362}}
#nav-menu {
  font-size: 1.3rem;
  margin-top: 2rem;
}
/* line 66, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\0000366}}
#nav-menu li {
  position: relative;
  height: 3rem;
  line-height: 3rem;
  overflow: hidden;
}
/* line 72, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\0000372}}
.nav-outer {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100%;
  overflow: hidden;
}
/* line 79, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\0000379}}
.nav-inner {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 85, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\0000385}}
.nav-outer:before,
.nav-outer:after,
.nav-inner:before,
.nav-inner:after {
  content: '';
  position: absolute;
  background-color: #f7f7f7;
  -webkit-transition: .25s linear;
  transition: .25s linear;
}
/* line 94, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\0000394}}
.nav-outer:after,
.nav-inner:after {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}
/* 上 */
/* line 99, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\0000399}}
.nav-outer:before {
  width: 100%;
  height: 1px;
  left: -100%;
  top: 0;
}
/* 左 */
/* line 106, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003106}}
.nav-outer:after {
  width: 1px;
  height: 100%;
  left: 0;
  top: 100%;
}
/* 下 */
/* line 113, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003113}}
.nav-inner:before {
  width: 100%;
  height: 1px;
  right: -100%;
  bottom: 0;
}
/* 右 */
/* line 120, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003120}}
.nav-inner:after {
  width: 1px;
  height: 100%;
  right: 0;
  top: -100%;
}
/* line 126, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003126}}
.nav-outer:hover:before {
  left: 0;
}
/* line 129, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003129}}
.nav-outer:hover .nav-inner:before {
  right: 0;
}
/* line 132, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003132}}
.nav-outer:hover:after {
  top: 0;
}
/* line 135, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003135}}
.nav-outer:hover .nav-inner:after {
  top: 0;
}
/* line 138, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003138}}
.nav-outer.act {
  font-weight: bold;
  color: #65b2ff;
}
/* line 142, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003142}}
#nav-menu li i {
  position: relative;
  width: 16px;
  text-align: center;
}
/* line 147, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003147}}
.nav-text {
  padding-left: 1.5rem;
  letter-spacing: 2px;
}
/* 联系方式 */
/* line 152, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003152}}
#contact-box {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1.8rem auto 0;
  font-size: 14px;
}
/* line 159, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003159}}
#contact-box i {
  width: 16px;
  height: 14px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}
/* line 166, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003166}}
#contact-box i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/* 主板块 */
/* line 170, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003170}}
#article-box {
  float: left;
  position: relative;
  width: calc(100% - 300px);
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem 2.6667rem 0;
  background-color: #f9fafe;
  overflow: hidden;
}
/* line 180, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003180}}
#article-list {
  padding-top: 2.2rem;
  border-left: 0.2rem solid #98cbff;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 100000px;
          perspective: 100000px;
}
/* line 186, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003186}}
.article-item {
  position: relative;
  padding: 1.5rem 2rem;
  background-color: #ffffff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-bottom: 6rem;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-box-shadow: 1px 5px 30px rgba(238, 245, 255, 0.8);
          box-shadow: 1px 5px 30px rgba(238, 245, 255, 0.8);
}
/* line 198, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003198}}
.article-item.act {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/* line 202, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003202}}
.article-item:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
/* line 205, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003205}}
.art-time {
  position: absolute;
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1.2rem;
  background-color: #65b2ff;
  color: #ffffff;
  font-size: 1.3rem;
  left: 2.5rem;
  top: -3.44rem;
}
/* line 218, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003218}}
.art-time:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 1rem;
  border-style: solid;
  border-color: transparent;
  border-right-color: #65b2ff;
  left: -2rem;
  top: 0;
}
/* line 230, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003230}}
.art-dotts {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: #65b2ff;
  border: 1px solid #65b2ff;
  left: -0.78rem;
  top: -2.9rem;
}
/* line 240, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003240}}
.art-main {
  display: block;
}
/* line 243, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003243}}
.art-wrap {
  display: block;
  text-align: right;
  position: relative;
}
/* line 248, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003248}}
.article-item .art-info {
  position: absolute;
  width: 80%;
  height: 100%;
  text-align: left;
}
/* 附图 */
/* line 255, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003255}}
.article-item .art-img {
  display: inline-block;
  width: 15%;
  max-width: 80px;
  min-width: 40px;
  max-height: 80px;
  border-radius: 2px;
  overflow: hidden;
}
/* line 264, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003264}}
.article-item .art-img img {
  width: 100%;
  height: 100%;
}
/* 标题 */
/* line 269, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003269}}
.article-item .art-title {
  position: absolute;
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 前言 */
/* line 279, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003279}}
.article-item .art-note {
  position: relative;
  font-size: 1.3rem;
  line-height: 1.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 3.8rem;
  height: 100%;
  color: #303030;
  overflow: hidden;
  text-align: justify;
}
/* 附属信息 */
/* line 291, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003291}}
.article-item .art-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  line-height: 1.4rem;
  white-space: nowrap;
  color: #303030;
  margin-top: 1rem;
}
/* line 299, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003299}}
.article-item .art-meta > a {
  margin-right: 3rem;
  letter-spacing: .005rem;
}
/* 点赞 */
/* line 304, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003304}}
.art-heart {
  position: relative;
}
/* line 307, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003307}}
.art-heart span {
  padding-left: 1.3rem;
}
/* 文章标签 */
/* line 311, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003311}}
.art-tag {
  position: relative;
  top: -1px;
}
/* line 315, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003315}}
.art-tag i {
  position: relative;
  font-size: 14px;
  top: 2px;
}
/* line 320, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003320}}
.heart {
  position: absolute;
  width: 30px;
  height: 35px;
  left: -10px;
  top: -1.2rem;
  background: url(/img/heart.png);
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1000;
  background-size: 3900%;
  background-position-x: -6px;
  background-position-y: -1px;
}
@-webkit-keyframes heartBlast {
  /* line 335, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003335}}
  0% {
    background-position-x: -6px;
  }
  /* line 337, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003337}}
  100% {
    background-position-x: -1136px;
  }
}
@keyframes heartBlast {
  /* line 335, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003335}}
  0% {
    background-position-x: -6px;
  }
  /* line 337, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003337}}
  100% {
    background-position-x: -1136px;
  }
}
/* line 341, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003341}}
.heart.heartBlast {
  display: inline-block;
  -webkit-animation-name: heartBlast;
          animation-name: heartBlast;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(28);
          animation-timing-function: steps(28);
  background-position-x: -1136px;
}
/* 评论图标 */
/* line 350, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003350}}
.comment-icon {
  font-size: 1.2rem;
}
@media screen and (max-width: 600px) {
  /* line 354, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003354}}
  .article-item .art-title {
    font-size: 1.5rem;
  }
  /* line 357, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003357}}
  .article-item .art-note {
    line-height: 1.6rem;
    padding-top: 2.8rem;
  }
}
@media screen and (max-width: 570px) {
  /* line 363, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003363}}
  .article-item .art-meta {
    margin-top: .6rem;
  }
  /* line 366, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003366}}
  .article-item .art-meta > a {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 450px) {
  /* line 371, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003371}}
  #article-box {
    padding: 2rem 1.3333rem 0;
  }
  /* line 374, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003374}}
  .article-item {
    padding: 1.2rem 1.5rem;
  }
  /* line 377, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003377}}
  .article-item .art-title {
    font-size: 1.4rem;
  }
  /* line 380, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003380}}
  .article-item .art-note {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-top: 2.4rem;
  }
}
@media screen and (max-width: 400px) {
  /* line 387, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003387}}
  .article-item .art-note {
    font-size: 1rem;
    padding-top: 2.6rem;
  }
  /* line 391, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003391}}
  .article-item .art-meta {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  /* 侧边栏 */
  /* line 398, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003398}}
  #intrude-box {
    float: none;
    width: 100%;
    height: auto;
  }
  /* 导航 */
  /* line 404, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003404}}
  #nav-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 320px;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /* line 410, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003410}}
  #nav-menu li {
    width: 25%;
  }
  /* line 413, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003413}}
  #article-box {
    float: none;
    width: 100%;
    min-height: 100%;
  }
  /* line 418, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003418}}
  .nav-outer {
    width: 100%;
  }
  /* line 421, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\/blog\/koa-blog\/index\/public\/css\/style\.less}line{font-family:\00003421}}
  .nav-text {
    padding-left: .3rem;
  }
}
